{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit ToDo
{% endblock title %}

{% block body %}
<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Include Bootstrap Icons CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<div class="container pt-4 position-relative">
    <!-- Back Button -->
    <a href="{% url 'to-dos' %}" class="btn btn-secondary position-absolute top-0 end-0 mt-2 me-2" style="z-index: 1050;">
        <i class="bi bi-arrow-left"></i>
    </a>
    
    <div class="row p-0 mt-4 px-3 py-3">
        <div class="col-lg-6 mx-auto shadow py-3">
            <!-- Display success message -->
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            
            <div class="alert-info alert text-center">
                <h3>Edit ToDo</h3>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <input type="submit" value="Save Changes" class="btn btn-info">
            </form>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock body %}
